<div class="builder-page">
  <div class="builder">
    <div class="items">
      <div class="items-list">
        <div class="base-items">
          <h2>Base</h2>
          <button class="item-btn" *ngFor="let item of baseItems" (click)="addItem(item)">
            <img [src]="item.src" alt="" [matTooltip]="item.name">
          </button>
        </div>
        <div class="combined-items">
          <h2>Combined</h2>
          <button class="item-btn" *ngFor="let item of combinedItems" (click)="addItem(item)">
            <img [src]="item.src" alt="" [matTooltip]="item.name">
          </button>
        </div>
      </div>

      <div class="all-user-items">

        <div class="augments">
          <h2>Augments</h2>
          <mat-form-field appearance="fill">
            <mat-label>Tier 1 Augments</mat-label>
            <mat-select [formControl]="selectedTier1Augments" multiple (selectionChange)="onAugmentSelectionChange()">
              <mat-option *ngFor="let augment of tier1Augments" [value]="augment">{{augment.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Tier 2 Augments</mat-label>
            <mat-select [formControl]="selectedTier2Augments" multiple (selectionChange)="onAugmentSelectionChange()">
              <mat-option *ngFor="let augment of tier2Augments" [value]="augment">{{augment.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Tier 3 Augments</mat-label>
            <mat-select [formControl]="selectedTier3Augments" multiple (selectionChange)="onAugmentSelectionChange()">
              <mat-option *ngFor="let augment of tier3Augments" [value]="augment">{{augment.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="selected-augments" *ngFor="let augment of selectedAugments"></div>
        </div>
        <!--      todo: make item with 2 buttons: equip + remove-->
        <div class="selected-items">
          <h2>Bench Items</h2>
          <button class="item-btn selected" *ngFor="let item of selectedItems">
            <img [src]="item.src" alt="" [matTooltip]="item.description" (click)="equipItemFromSelected(item)">
            <a class='remove-item' (click)="removeItemFromSelected(item)">&#10005;</a>
            <span class="item-counter">{{item.selectedAmount}}</span>
          </button>
        </div>
        <div class="possible-to-combine">
          <h2>Possible to combine</h2>
          <button class="item-btn equipped" *ngFor="let item of possibleToCombineItems" (click)="equipItemFromParts(item)">
            <img [src]="item.src" alt="" [matTooltip]="item.description">
          </button>
        </div>
        <div class="equipped-items">
          <h2>Equipped Items</h2>
          <button class="item-btn equipped" *ngFor="let item of equippedItems" (click)="moveBackToSelectedItems(item)">
            <img [src]="item.src" alt="" [matTooltip]="item.description"><span class="item-counter">{{item.equippedAmount}}</span>
          </button>
        </div>
      </div>
    </div>

    <suited-compositions
      [compositions]="suitedComps"
      [selectedItems]="selectedItems"
      [selectedAugments]="selectedAugments">
    </suited-compositions>
  </div>
  <div class="flex-column composition">
    <img [src]="imageSrc" alt="">
  </div>

</div>
