<div *ngFor="let composition of compositions">
  <div class="composition-name">
    {{composition.name}}
  </div>
  <div class="composition-champs"></div>
  <div class="composition-items">
    <div class="main-carry">
      <div class="best-items"></div>
      <div class="missing-items"></div>
      <div class="can-place-items"></div>
    </div>
    <div class="second-carry">
      <div class="best-items"></div>
      <div class="missing-items"></div>
      <div class="can-place-items"></div>
    </div>
    <div class="main-tank">
      <div class="best-items"></div>
      <div class="missing-items"></div>
      <div class="can-place-items"></div>
    </div>
  </div>

</div>
